<div class="row">
  <div class="row"><h3>Payment</h3></div>
  <div class="row">
    <app-ordered-items orderMode="read"></app-ordered-items>
  </div>  
  <div class="row">
    <hr/>
    <app-delivery-item orderMode="read"></app-delivery-item>
  </div>
  <div class="row" style="margin-top:40px">
    <button class="btn btn-primary btn-action">Pay Now</button>
    <a routerLink="/" routerLinkActive="active" class="btn btn-default btn-action" style="padding-top:15px" role="button">Modify</a>
  </div>
</div>
