<h4>Delivery Detail:</h4>
<div *ngIf="orderMode=='edit';then edit else read"></div>
<ng-template #edit>
    <form id="orderForm" name="orderForm" #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm)" novalidate>
      <div *ngIf="validationErrors && validationErrors.length > 0" class="alert alert-danger">
        <div *ngFor="let error of validationErrors">
          <div><small>{{ error }}</small></div>
        </div>
        <!-- <div *ngIf="firstName.errors.required"><small>First Name is Required</small></div>
        <div *ngIf="lastName.errors.required"><small>Last Name is Required</small></div>
        <div *ngIf="email.errors.required"><small>Email is Required</small></div>
        <div *ngIf="phone.errors.required"><small>Contact No. is Required</small></div>
        <div *ngIf="street.errors.required"><small>Street is Required</small></div>
        <div *ngIf="city.errors.required"><small>City is Required</small></div>
        <div *ngIf="zip.errors.required"><small>Zip is Required</small></div>         -->
      </div>      
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input id="firstName" name="firstName" #firstName="ngModel" type="text" class="form-control"
          [(ngModel)]="deliveryInfo.firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input id="lastName" name="lastName" #lastName="ngModel" type="text" class="form-control"
          [(ngModel)]="deliveryInfo.lastName" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" name="email" #email="ngModel" type="text" class="form-control"
          [(ngModel)]="deliveryInfo.email" required>
      </div>
      <div class="form-group">
        <label for="phone">Contact No:</label>
        <input id="phone" name="phone" #phone="ngModel" type="text" class="form-control"
          [(ngModel)]="deliveryInfo.phone" required>
      </div>
      <div class="form-group">
        <label for="street">Street:</label>
        <textarea id="street" name="street" #street="ngModel" class="form-control"
          [(ngModel)]="deliveryInfo.street" required></textarea>
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input id="city" name="city" #city="ngModel" type="text" class="form-control"
          [(ngModel)]="deliveryInfo.city" required>
      </div>
      <div class="form-group">
        <label for="zip">Zip:</label>
        <input id="zip" name="zip" #zip="ngModel" type="text" class="form-control"
          [(ngModel)]="deliveryInfo.zip" required>
      </div>
      <button  type="submit" class="btn btn-primary btn-action" style="margin-top:40px">Order Now</button>
    </form>
    <pre>
      {{ orderForm.value | json }}
    </pre>
</ng-template>
<ng-template #read>
  <div class="row">
    <div class="col-md-4">First Name:</div>
    <div class="col-md-8">{{ deliveryInfo.firstName }}</div>
  </div>
  <div class="row">
      <div class="col-md-4">Last Name:</div>
      <div class="col-md-8">{{ deliveryInfo.lastName }}</div> 
  </div>
  <div class="row">
    <div class="col-md-4">Email:</div>
    <div class="col-md-8">{{ deliveryInfo.email }}</div>
  </div>
  <div class="row">
    <div class="col-md-4">Contact No:</div>
    <div class="col-md-8">{{ deliveryInfo.phone }}</div> 
  </div>
  <div class="row">
    <div class="col-md-4">Street:</div>
    <div class="col-md-8">{{ deliveryInfo.street }}</div>
  </div>
  <div class="row">
    <div class="col-md-4">City:</div>
    <div class="col-md-8">{{ deliveryInfo.city }}</div> 
  </div>
  <div class="row">
    <div class="col-md-4">Zip:</div>
    <div class="col-md-8">{{ deliveryInfo.zip }}</div> 
  </div>
</ng-template>
