<h4>Delivery Detail:</h4>
<div *ngIf="orderMode=='edit';then edit else read"></div>
<ng-template #edit>
    <form id="orderForm" name="orderForm" #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm)" class="form-full-width" novalidate>
      <div *ngIf="validationErrors && validationErrors.length > 0" class="alert alert-danger">
        <div *ngFor="let error of validationErrors">
          <div><small>{{ error }}</small></div>
        </div>
      </div>
      <mat-form-field class="field-full-width">
        <label [fieldLabel]="'First Name:'" for="firstName"></label>
        <input matInput id="firstName" name="firstName" #firstName="ngModel" type="text" class="form-control"
          [(ngModel)]="deliveryInfo.firstName" required>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <label [fieldLabel]="'Last Name:'" for="lastName"></label>
        <input matInput id="lastName" name="lastName" #lastName="ngModel" type="text" class="form-control"
        [(ngModel)]="deliveryInfo.lastName" required>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <label [fieldLabel]="'Email:'" for="email"></label>
        <input matInput id="email" name="email" email #email="ngModel" type="text" class="form-control"
        [(ngModel)]="deliveryInfo.email" required>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <label [fieldLabel]="'Contact No:'" for="phone"></label>
        <input matInput id="phone" name="phone" #phone="ngModel" type="text" class="form-control phone"
        [(ngModel)]="deliveryInfo.phone" required>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <label [fieldLabel]="'Street:'" for="street"></label>
        <input matInput id="street" name="street" #street="ngModel" class="form-control"
        [(ngModel)]="deliveryInfo.street" required>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <label [fieldLabel]="'City:'" for="city"></label>
        <input matInput id="city" name="city" #city="ngModel" type="text" class="form-control"
        [(ngModel)]="deliveryInfo.city" required>
      </mat-form-field> 
      <mat-form-field class="field-full-width">
        <label [fieldLabel]="'Zip:'" for="zip"></label>
        <input matInput id="zip" name="zip" #zip="ngModel" type="text" class="form-control zip"
        [(ngModel)]="deliveryInfo.zip" required
        [allowedValues]="'AB12 3EF, AA11 1AA, BB2 2BB'">
      </mat-form-field> 
      <button  type="submit" class="btn btn-primary btn-action" style="margin-top:40px">Order Now</button>
    </form>
    <!-- <pre>
      {{ orderForm.value | json }}
    </pre> -->
</ng-template>
<ng-template #read>
  <div class="row">
    <div class="col-md-4">First Name:</div>
    <div class="col-md-8">{{ deliveryInfo.firstName }}</div>
  </div>
  <div class="row">
      <div class="col-md-4">Last Name:</div>
      <div class="col-md-8">{{ deliveryInfo.lastName }}</div> 
  </div>
  <div class="row">
    <div class="col-md-4">Email:</div>
    <div class="col-md-8">{{ deliveryInfo.email }}</div>
  </div>
  <div class="row">
    <div class="col-md-4">Contact No:</div>
    <div class="col-md-8">{{ deliveryInfo.phone }}</div> 
  </div>
  <div class="row">
    <div class="col-md-4">Street:</div>
    <div class="col-md-8">{{ deliveryInfo.street }}</div>
  </div>
  <div class="row">
    <div class="col-md-4">City:</div>
    <div class="col-md-8">{{ deliveryInfo.city }}</div> 
  </div>
  <div class="row">
    <div class="col-md-4">Zip:</div>
    <div class="col-md-8">{{ deliveryInfo.zip }}</div> 
  </div>
</ng-template>
