<div class="row">
  <div class="row text-center"><h3>Shopping Cart</h3></div>
  <div class="row">
    <app-ordered-items [orderMode]="orderMode"
      (ordersChangedEvent)="ordersChanged($event)">
    </app-ordered-items>
  </div>
  <div *ngIf="orders != null && orders.length > 0">
    <div class="row">
      <hr/>
      <app-delivery-item 
        [orderMode]="orderMode"
        (orderNowClickEvent)="orderNowClick($event)">
      </app-delivery-item>
    </div>
    <div class="row" *ngIf="orderMode=='read'">
      <a routerLink="/payment" routerLinkActive="active" class="btn btn-primary btn-action" style="margin-top:40px;padding-top:15px" role="button">Proceed to Payment</a>
    </div>
  </div>
</div>